<ol class="breadcrumb">
  <li><a href="#/">cloudyBooks</a></li>
  <li class="active">Catalog</li>
</ol>

<div class="row">
  <div class="col-xs-12">
    <h2>{{vm.section.title}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h3>Category</h3>
    <ul class="nav nav-stacked nav-pills nav-categories">
      <li ng-class="{ active: vm.isActive('top-ten') }"><a ng-click="vm.browseTopTen()" id="browse-top-ten">Top 10</a></li>
      <li ng-class="{ active: vm.isActive('azure') }"><a ng-click="vm.browseAzure()" id="browse-azure">Azure</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <div ng-repeat="book in vm.items">
      <strong>{{book.title}}</strong>
    </div>
  </div>
</div>
