@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Budget status</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-9">
        <div class="row">
            <div class="col-xs-12">
                <h2>Income</h2>
                <div class="panel panel-default" id="income-sources">
                    <div class="panel-body">
              	        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            
                          </div>
                        </div>
                        <label>Barbara - €4035</label>  
              	        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                            
                          </div>
                        </div>
                        <label>Mike - €1500</label>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
                            
                          </div>
                        </div>
                        <label>Overig - €250</label>  
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Budgets</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%;">
                            
                          </div>
                        </div>
                        <label>Hypotheek - €650 (max: €850)</label>
                        <div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            
                          </div>
                        </div>
                        <label>Verzekeringen - €300 (max: €400)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <h2>Total</h2>
        <div class="panel panel-default totals">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="category-title">Income</div>
                        <div class="category-value">€5785</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="category-title">Spendings</div>
                        <div class="category-value">-€950</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12"><hr/></div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="category-title">Total</div>
                        <div class="category-value">€4835</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>