@{
    ViewBag.Title = "Home Page";
}
<div id="budget-status-placeholder">

</div>

@section scripts
{
    <script src="~/components/progressbar.js"></script>
    <script src="~/components/budget-indicator.js"></script>
    <script src="~/components/income-indicator.js"></script>
    <script src="~/components/budgets.js"></script>
    <script src="~/components/incomes.js"></script>
    <script src="~/components/budget-total-item.js"></script>
    <script src="~/components/budget-total.js"></script>
    <script src="~/components/budget-status.js"></script>
}