@{
    ViewBag.Title = "Home Page";
}
<div id="budget-status-placeholder">

</div>

@section scripts
{
    <script src="~/scripts/startup.js"></script>
    <script src="~/components/progressbar.js"></script>
    <script src="~/components/budget-indicator.js"></script>
    <script src="~/components/budgets.js"></script>
    <script src="~/components/budget-status.js"></script>
}
