@{
    ViewBag.Title = "Mutations";
}
<div class="row">
    <div class="col-xs-12">
        <h1>Mutations</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default enter-mutation-form">
            <div class="panel-body">
        	   <form action="" class="form-inline">
                   <div class="form-group">
                       <label for="budget" class="sr-only">Budget</label>
                       <select class="form-control" id="budget">
                           <option>-</option>
                           <option value="1">Huis</option>
                           <option value="2">Energie</option>
                           <option value="2">Verzekeringen</option>
                       </select>
                   </div>
                   <div class="form-group">
                       <label for="date" class="sr-only">Date</label>
                       <input type="date" class="form-control" id="date" placeholder="Enter date"/>
                   </div>
                   <div class="form-group">
                       <label for="description" class="sr-only">Description</label>
                       <input type="text" class="form-control" id="description" placeholder="Enter description"/>
                   </div>
                   <div class="form-group">
                       <label for="amount" class="sr-only">Amount</label>
                       <input type="text" class="form-control" id="amount" placeholder="Enter amount">
                   </div>
                   <div class="btn btn-default">Save</div>
               </form>          
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                
            </div>
        </div>
    </div>
</div>